*,*::before,*::after{box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing: border-box;
  }
  
  html{font-size:18px; /*1rem = 18px*/
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  }
 
  /*tornando imagens responsivas*/
  img {max-width: 100%;}
  /*reset em alguns elementos*/
  body{
      margin: 0;
      padding: 0;
      font-family: 'Open Sans'verdana,sans-serif; 
      background-image:linear-gradient(to right, #8e0e00,#1f1c18);
  }

header,footer{
    text-align: center;
    
}
header{ border-bottom: solid 1px;
        margin-bottom: 10px;    
}
footer{border-top: solid 1px;}

main {
    width: 95%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto; /* centralizar o bloco */
}

/* p { text-align: justify; } */

/* Regra para cada área de conteúdo (article)
contida na página */
article {
    background-color: white;
    padding: 2%;
    margin: 10px 0;
    box-shadow: black 1px 1px 5px;
}
nav{
   background-color: black;
   font-family: 'Kaushan Script', cursive;
 
  
}
.navbar{
    margin: auto;
    margin-top: 0px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    height: 80px;
}
/*Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
 
  padding: 20px 30px;
  text-decoration: none;
  font-size: 12px;
  
}
/* The subnavigation menu */
.subnav {
  float: left; 
}
/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px ;
  padding-left: 25px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin-top: 10px;
  
}
/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(197, 171, 171);
}
/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:black;
  width:100%;
  
}
/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

 #cont1{
   margin-top:50px;
   height: 400px;
   position: relative;
   margin: auto;
   background:burlywood;
  
 }
 

.conteinerfoto {
  float:left;
  width:250px;
  height:180px;
  margin:0px;
  margin-left:10px;
  padding:0px;
  background-color:#f5f7f9;
  border-right: #a5a7aa solid 1px;
  border-bottom: #a5a7aa solid 1px;
  text-align:center;
  border: 4px black solid;
  border-radius: 10px;
}

.galeRia{
  text-align: center;
  font-weight: bold;
  color:white;
  font-family: 'Kaushan Script', cursive;
  
}

img{
  margin-top: 0px;
  margin-left: 0px;
  min-width: 100%;
  max-height: 100%;
}


.principal{
  
 
  display: grid;
  /* aqui eu determino é são 3 colunas de tamanhos iguas, cada coluna tem uma fração */
  grid-template-columns: repeat(3, 1fr);
  /* esssa é a altura das linhas, se vc quiser pode apaga-la caso não queira uma altura definida */
  grid-auto-rows:200px;
  /* espaço entre um elemento interno e outro */
  grid-gap: 200px 150px;
  /* margem interna que afasta os elementos da borda do grid */
  padding: 0px 0px;
}
@media screen and (min-width:360px){
  .conteinerfoto { margin-left: 25px; }
}
@media screen and (min-width:375px){
  .conteinerfoto { margin-left: 10px; }
  .galeRia{margin-left: -50px;}
}

@media screen and (min-width:414px){  
    .conteinerfoto { margin-left: 40px;}
  }
  @media screen and (min-width:740px){ 
    .conteinerfoto { margin-left: 0px;}
    .galeRia{margin-left: -120px;}

  }
  @media screen and (min-width:768px){  
    .conteinerfoto { margin-left: -30px;}
  }

  @media screen and (min-width:1024px){  
    .conteinerfoto { 
      margin-left: -10px;
      width: 20%;
    }
  }
